@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes spawn {
    0% {
        visibility: hidden;
        top: -10px;
    }

    100% {
        visibility: visible;
        top: 0px;
    }
}

:root {
    --black: #1B1A17;
    --black-hover: #1F1E1B;
    --contrast: #00685f;
    --contrast-hover: #00a799;
    --white: #F0E3CA; 
}

* {
    margin: 0;
    padding: 0;
    color: #F0E3CA;
    font-family: 'Roboto';
} 

body {
    padding: .8em 1.2em 0 1.2em;
    background-color: var(--black);
}

#add-task {
    display: flex;
    justify-content: space-between;
    height: 3.6em;
}
    #add-task section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    #add-task section input{
        border: 1px solid var(--contrast);
        color: var(--white);
        background-color: var(--black);
        border-radius: .2em;
        padding: .3em;
        transition: .3s ;
    }
        #add-task section input:focus {
            outline: none;
            background-color: var(--black-hover);
            border-color: var(--contrast-hover);
            transition: .3s;
        }
        #add-task section input:hover {
            background-color: var(--black-hover);
            border-color: var(--contrast-hover);
            transition: .3s;
        }

    #add-task button {
        border: 1px solid var(--contrast);
        border-radius: .5em;
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4.3em;
        min-height: 4.3em;
        margin-left: 1em;
        transition: .3s ;
    }
        #add-task button:hover {
            background-color: var(--black-hover);
            border-color: var(--contrast-hover);
            transition: .3s;
        }

    #add-task button img {
        filter: invert(100%);
    }
        #no-task {
            text-align: center;
            padding: 3em;
            display: block;
        }

#tasks {
    min-height: 600px;
}

.task {
    border: 1px solid var(--contrast);
    border-radius: .4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em .9em;
    margin-top: 1em;
    background-color: var(--black);
    transition: .3s;
    animation-name: spawn;
    animation-duration: .5s;
}


    .task section:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: .2em;
        color: var(--white);
        max-width: 80%;
    }
        .task h2 {
            font-size: 1em;
            transition: .3s;
        }

        .task p {
            font-size: .7em;
            transition: .3s;
        }

    #check{
        appearance: none;
        background-color: var(--black);
        margin: 0;
        color: var(--contrast);
        width: 1.6em;
        height: 1.6em;
        border: 0.18em solid var(--contrast);
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        transition: 0.5s;
    }
        #check:checked {
            background-color: var(--contrast);
            
        }

/*Shadow*/
#task,#add-task button, #add-task section input {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.103);
}

footer {
    padding: 2em 2em;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    margin: 0 -1.2em;
}
    footer a {
        transition: .2s;
    }

    footer a:hover {
        color: var(--contrast-hover);
        transition: .2s;
    }

@media (min-width:700px) {
    
    body {
        width: 65%;
        margin: auto;
    }

    #add-task {
        height: 5em;
    }

    #add-task button {
        width: 6em;
        height: 6em;
        align-self: center;
    }
    #add-task section input {
        height: 30%;
        font-size: 1em;
    }
    .task {
        min-height: 5em;
    }
        .task h2 {
            font-size: 1.5em;
        }
        .task p {
            font-size: 1em;
        }

    #check {
        width: 2.3em;
        height: 2.3em;
        
    }
    
    footer {
        margin: 3em 0;
        
    }
}